@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;500;600;700;800 & display=swap');

:root{
    --verdeprincipal: #0D8434;
    --verdesecundario: #008528;
    --laranjaprincipal:  #F1AA1C;

    --fonteprincipal: 'Inter', sans-serif;
}

*{
    font-family: var(--fonteprincipal);
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: var(--verdeprincipal);
}

/*------------SCROLLBAR------------*/

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: var(--laranjaprincipal);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--verdeprincipal);
    border-radius: 50px;
}

/*------------NAVBAR------------*/

header{
    position: sticky;
    top: 0;
    z-index: 1;
    height: 100px;
    padding: 0 40px;
    background-color: var(--verdeprincipal);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.img{
    background-color: white;
    height: 150px;
    width: 160px;
    border-radius: 0 0 10px 10px;
}

.img img{
    position: relative;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
}

nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-weight: 200;
    transition: .6s;
}

a:hover{
    color: var(--laranjaprincipal);
}

a.home{
    color: var(--laranjaprincipal);
}

a.home:hover{
    color: #facf63;
    text-shadow: 0 0 12px var(--laranjaprincipal);
}

/*------------CONTEINER-01------------*/

section.conteiner-01{
    height: 590px;
    background-image: url(logo/vecteezy_solar-panel-cell-on-sunset-sky-background-clean-alternative-power-energy-concept_1235998\ 1.jpg);
    background-color: var(--verdeprincipal);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.page1{ 
    max-width: 1600px;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 40px;
    margin: 0 auto;
}

.foto-principal img{
    width: 500px;
    
}

.text-principal{
    width: 500px;
    
}

.text-principal h1{
    min-width: 560px;
    max-width: 500px;
    color: var(--laranjaprincipal);
    font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.text-principal p{
    max-width: 49vw;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: white;
}

.botão button{
    width: 302px;
    height: 44px;
    color: var(--verdeprincipal);
    background-color: var(--laranjaprincipal);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    border: 0;
    border-radius: 10px;
    transition: .6s;
}

.botão button:hover{
    cursor: pointer;
    background-color: var(--verdeprincipal);
    color: var(--laranjaprincipal);    
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--laranjaprincipal);
}



/*------------CONTEINER-02------------*/

section.conteiner-02{
    height: 196px;
    background-color: var(--laranjaprincipal);
}

.page2{
    max-width: 1600px;
    height: 196px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.seção1{
    min-width: 300px;
    width: 375px;
    height: 139px;    
    display: flex;
    align-items: center;
    gap: .8rem;
}

.seção1 p{
    width: 260px;
    font-size: 19px;
    color: var(--verdesecundario);
}

.seção2{
    min-width: 300px;
    width: 375px;
    height: 139px;    
    display: flex;
    align-items: center;
    gap: .8rem;
}

.seção2 p{
    width: 260px;
    font-size: 19px;
    color: var(--verdesecundario);
}

/*------------CONTEINER-03------------*/

section.conteiner-03{
    height: 790px;
    background-image: url(logo/fundo\ antenas.png);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.page3{
    max-width: 1600px;
    padding: 40px 0;
    margin: 0 auto;
}

.texto-serviço h2{
    height: 55px;
    color: var(--laranjaprincipal);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.texto-serviço .line{
    height: 5px;
    width: 80px;
    border-radius: 10px;
    background-color: #0D8434;
    margin: 0 auto;
}

.texto-serviço p{
    width: 644px;
    color: var(--verdeprincipal);
    font-size: 19px;
    text-align: center;
    margin: 30px auto; 
}

.foto-infos{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

.infos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tomada{
    height: 180px;
    background-color: var(--verdeprincipal);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 18px;
    gap: 10px;
    transition: .4s;
}

.tomada:hover{
    box-shadow: 8px 8px 0px var(--laranjaprincipal);
    transform: translate(-5px, -5px);
}

.tomada img{
    width: 90px;
    height: 90px;
}

.texto-tomada h3{
    width: 297px;
    color: var(--laranjaprincipal);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.texto-tomada p{
    width: 353px;
    color: var(--laranjaprincipal);
    font-size: 15px;
}

.consultoria{
    height: 114px;
    background-color: var(--verdeprincipal);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 18px;
    gap: 10px;
    transition: .4s;
 }

 .consultoria:hover{
    box-shadow: 8px 8px 0px var(--laranjaprincipal);
    transform: translate(-5px, -5px);
 }

 .texto-consultoria h3{
    width: 265px;
    color: var(--laranjaprincipal);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

 .texto-consultoria p{
    width: 353px;
    color: var(--laranjaprincipal);
    font-size: 15px;
}

.documento{
    height: 138px;
    background-color: var(--verdeprincipal);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 18px;
    gap: 10px;
    transition: .4s;
 }

 .documento:hover{
    box-shadow: 8px 8px 0px var(--laranjaprincipal);
    transform: translate(-5px, -5px);
 }

 .texto-documento h3{
    width: 265px;
    color: var(--laranjaprincipal);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

 .texto-documento p{
    width: 353px;
    color: var(--laranjaprincipal);
    font-size: 15px;
}

/*------------CONTEINER-04------------*/

section.conteiner-04{
    height: 414px;
    background-color: var(--laranjaprincipal);
}

.page04{
    max-width: 1600px;
    height: 414px;
    display: flex;
    justify-content: space-around;
    padding: 60px 0;
    margin: 0 auto;
}

.seção-valores{
    width: 320px;
}

.seção-valores img{
    border: 5px solid var(--verdesecundario);
    border-radius: 50%;
    padding: 8px;
    margin: 0 90px;
}

.seção-valores h3{
    color: var(--verdesecundario);
    text-transform: uppercase;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}

.seção-valores p{
    width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: 19;
    color: var(--verdesecundario);
}

.line-02{
    background-color: var(--verdesecundario);
    width: 5px;
    height: 300px;
    border-radius: 10px;
}

.seção-missão{
    width: 320px;
}

.seção-missão img{
    border: 5px solid var(--verdesecundario);
    border-radius: 50%;
    padding: 8px;
    margin: 0 90px;
}

.seção-missão h3{
    color: var(--verdesecundario);
    text-transform: uppercase;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}

.seção-missão p{
    width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: 19;
    color: var(--verdesecundario);
}

.line-03{
    background-color: var(--verdesecundario);
    width: 5px;
    height: 300px;
    border-radius: 10px;
}

.seção-visão{
    width: 320px;
}

.foto-grafico{
    border: 5px solid var(--verdesecundario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 8px;
    width: 140px;
    height: 140px;
}

.seção-visão img{
    width: 145px;
    padding: 20px;
}

.seção-visão h3{
    color: var(--verdesecundario);
    text-transform: uppercase;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}

.seção-visão p{
    width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: 19;
    color: var(--verdesecundario);
}

/*------------CONTEINER-05------------*/

footer.conteiner-05{
    height: 338px;
    background-color: var(--verdeprincipal);
    display: flex;
    align-items: center;
    
}

.page05{
    max-width: 1600px;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.sobre-nos{
    width: 247px;
    margin: 0 40px;
}

.sobre-nos h2{
    color: white;
    font-size: 28px;
}

.sobre-nos .line-04{
    height: 5px;
    width: 100px;
    border-radius: 10px;
    background-color: var(--laranjaprincipal);
    margin: 6px 0;
}

.sobre-nos p{
    width: 208px;
    margin: 15px 0;
    color: white;
}

.redes-social{
    width: 208px;
    display: flex;
    gap: 15px;

}

.redes-social img{
    width: 50px;
}

.redes-social a#insta img{
    width: 53.5px;
}

.endereço{
    width: 270px;
}

.endereço h2{
    color: white;
    font-size: 28px;
}

.endereço .line-05{
    height: 5px;
    width: 105px;
    border-radius: 10px;
    background-color: var(--laranjaprincipal);
    margin: 6px 0;
}

.localização{
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 15px 0;
}

.localização p{
    color: white;
    letter-spacing: 3px;
}

.telefone{
    display: flex;
    align-items: center;
    gap: 13px;
    margin: 15px 0;
}

.telefone p{
    color: white;
    letter-spacing: 3px;
}

.email{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.email p{
    color: white;
    letter-spacing: 3px;
}

.contato{
    width: 273px;
}

.contato h2{
    color: white;
    font-size: 28px;
}

.contato .line-06{
    height: 5px;
    width: 105px;
    border-radius: 10px;
    background-color: var(--laranjaprincipal);
    margin: 6px 0;
}

.contato form{
    margin-top: 15px;
}

.contato label{
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
}

.contato input{
    width: 273px;
    height: 35px;
    background-color: transparent;
    border: 3px solid var(--laranjaprincipal);
    border-radius: 10px;
    color: var(--laranjaprincipal);
    font-size: 16px;
    outline: none;
    padding: 8px;
    margin: 3px 0 10px 0;
}

.contato textarea{
    width: 273px;
    height: 68px;
    resize: none;
    background-color: transparent;
    border: 3px solid var(--laranjaprincipal);
    border-radius: 10px;
    color: var(--laranjaprincipal);
    font-size: 16px;
    outline: none;
    padding: 8px;
    margin: 3px 0 10px 0;
}

.contato button{
    width: 273px;
    height: 46px;
    background-color: var(--laranjaprincipal);
    border: none;
    border-radius: 10px;
    color: var(--verdeprincipal);
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .4s;
}

.contato button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--laranjaprincipal);
}